<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Steemit Wall</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/css/uikit.almost-flat.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="uk-height-1-1">
  <div id="app" class="uk-flex uk-flex-column uk-height-1-1">
    <div id="user">
      <div v-if="showUser && account">
        <div class="profileimage" v-bind:style="{ backgroundImage: account.profile.profile_image ? 'url(' + account.profile.profile_image + ')' : 'none' }"></div>
        <div class="profile-info uk-float-left">
          Follower: 253
        </div>
        <div class="profile-info uk-float-left">
          Following: 74
        </div>
        <div class="profile-info uk-float-left">
          Voting Power: 86.78 %
        </div>
        <div class="profile-info uk-float-left">
          Steem Power: 748,001.00
        </div>
        <a href="#" @click="showUser = false" class="uk-button uk-button-primary uk-float-right switch-user"><i class="uk-icon-refresh"></i></a>
      </div>
      <form class="uk-form uk-margin-remove" v-on:submit="submitUser" v-if="!showUser">
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <div class="uk-form-icon uk-width-1-1">
              <i class="uk-icon-at"></i>
              <input type="text" name="username" id="username" v-model="username" v-on:keyup="lookupUsername" placeholder="enter username" class="uk-width-1-1 uk-form-large" autocomplete="off">
              <i class="uk-icon-check uk-icon-large uk-text-success username-indicators uk-position-top-right" v-if="account"></i>
              <i class="uk-icon-times uk-icon-large uk-text-danger username-indicators uk-position-top-right" v-if="!account && username"></i>
            </div>
          </div>
        </div>
      </form>
    </div>

    <a href="#add-column-modal" data-uk-modal id="add-column-button" class="uk-button uk-button-primary uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-flex-column" v-bind:class="{'uk-height-1-1 fullscreen-icon': columns.length == 0}">
      <i class="uk-icon-plus"></i>
      <span v-if="columns.length == 0">Add Column</span>
    </a>

    <div id="add-column-modal" class="uk-modal">
      <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-modal-header">Choose a source of posts</div>
        <div class="uk-grid">
          <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-hover">
              <h3 class="uk-panel-title">New<span v-if="addNewTag"> #{{ addNewTag }}</span></h3>
              <p class="uk-text-muted">Display new posts for a tag. Leave tag empty to display all new posts.</p>
              <form class="uk-form" v-on:submit="addColumn('new', $event)">
                <div class="uk-form-row">
                  <div class="uk-form-controls">
                    <div class="uk-form-icon uk-width-1-1">
                      <i class="uk-icon-hashtag"></i>
                      <input type="text" v-model="addNewTag" placeholder="all" class="uk-width-1-1">
                    </div>
                  </div>
                </div>
                <div class="uk-form-row">
                  <a href="#" class="uk-button uk-button-success uk-width-1-1" v-on:click="addColumn('new', $event)">
                    Add to Wall
                  </a>
                </div>
              </form>
            </div>
          </div>
          <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-hover">
              <h3 class="uk-panel-title">Hot<span v-if="addHotTag"> #{{ addHotTag }}</span></h3>
              <p class="uk-text-muted">Display hot posts for a tag. Leave tag empty to display all hot posts.</p>
              <form class="uk-form" v-on:submit="addColumn('hot', $event)">
                <div class="uk-form-row">
                  <div class="uk-form-controls">
                    <div class="uk-form-icon uk-width-1-1">
                      <i class="uk-icon-hashtag"></i>
                      <input type="text" v-model="addHotTag" placeholder="all" class="uk-width-1-1">
                    </div>
                  </div>
                </div>
                <div class="uk-form-row">
                  <a href="#" class="uk-button uk-button-success uk-width-1-1" v-on:click="addColumn('hot', $event)">
                    Add to Wall
                  </a>
                </div>
              </form>
            </div>
          </div>
          <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-hover">
              <h3 class="uk-panel-title">Trending<span v-if="addTrendingTag"> #{{ addTrendingTag }}</span></h3>
              <p class="uk-text-muted">Display trending posts for a tag. Leave tag empty to display all trending posts.</p>
              <form class="uk-form" v-on:submit="addColumn('trending', $event)">
                <div class="uk-form-row">
                  <div class="uk-form-controls">
                    <div class="uk-form-icon uk-width-1-1">
                      <i class="uk-icon-hashtag"></i>
                      <input type="text" v-model="addTrendingTag" placeholder="all" class="uk-width-1-1">
                    </div>
                  </div>
                </div>
                <div class="uk-form-row">
                  <a href="#" class="uk-button uk-button-success uk-width-1-1" v-on:click="addColumn('trending', $event)">
                    Add to Wall
                  </a>
                </div>
              </form>
            </div>
          </div>
          <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-hover">
              <h3 class="uk-panel-title">Blog<span v-if="addBlogUser"> @{{ addBlogUser }}</span></h3>
              <p class="uk-text-muted">Display posts from a user's blog.</p>
              <form class="uk-form" v-on:submit="addColumn('blog', $event)">
                <div class="uk-form-row">
                  <div class="uk-form-controls">
                    <div class="uk-form-icon uk-width-1-1">
                      <i class="uk-icon-at"></i>
                      <input type="text" v-model="addBlogUser" placeholder="enter username" class="uk-width-1-1">
                    </div>
                  </div>
                </div>
                <div class="uk-form-row">
                  <a href="#" class="uk-button uk-button-success uk-width-1-1" v-on:click="addColumn('blog', $event)">
                    Add to Wall
                  </a>
                </div>
              </form>
            </div>
          </div>
          <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-hover">
              <h3 class="uk-panel-title">Feed<span v-if="addFeedUser"> @{{ addFeedUser }}</span></h3>
              <p class="uk-text-muted">Display posts from a user's feed.</p>
              <form class="uk-form" v-on:submit="addColumn('feed', $event)">
                <div class="uk-form-row">
                  <div class="uk-form-controls">
                    <div class="uk-form-icon uk-width-1-1">
                      <i class="uk-icon-at"></i>
                      <input type="text" v-model="addFeedUser" placeholder="enter username" class="uk-width-1-1">
                    </div>
                  </div>
                </div>
                <div class="uk-form-row">
                  <a href="#" class="uk-button uk-button-success uk-width-1-1" v-on:click="addColumn('feed', $event)">
                    Add to Wall
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-grid uk-grid-collapse">
      <app-column v-for="(column, index) in columns" :type="column.type" :id="column.id" :index="index" :columns-count="columns.length"></app-column>
    </div>
  </div>

  <script type="text/x-template" id="app-column-template">
    <div class="column uk-flex uk-flex-column" v-bind:class="{'uk-width-medium-1-1': columnsCount == 1, 'uk-width-medium-1-2': columnsCount == 2, 'uk-width-medium-1-3': columnsCount == 3, 'uk-width-medium-1-4': columnsCount == 4, 'uk-width-medium-1-5': columnsCount == 5, 'uk-width-medium-1-6': columnsCount >= 6}">
      <h3 class="uk-margin-remove uk-text-center">
        {{ type }}
        <span v-if="id" class="uk-text-muted">
          {{ (type == 'blog' || type == 'feed' ? '@' : '#') + id }}
        </span>
        <a href="#" v-on:click="deleteColumn" class="uk-button uk-button-small uk-button-danger uk-float-right delete-column"><i class="uk-icon-times"></i></a>
      </h3>
      <div class="posts uk-overflow-container">
        <app-post v-for="(post, id) in posts" :key="id" :post="post" :meta="JSON.parse(post.json_metadata)">asd</app-post>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="app-post-template">
    <div class="post">
      <h4 class="uk-text-truncate">
        <a v-bind:href="'https://steemit.com/' +  post.url" target="_blank">{{ post.title }}</a><br>
        <small class="uk-text-muted">
          {{ getDate(post.created) }}
          by <a v-bind:href="'https://steemit.com/@' +  post.author" target="_blank">{{ post.author }}</a>
          in <a v-bind:href="'https://steemit.com/new/' +  post.category" target="_blank">{{ post.category }}</a>
        </small>
      </h4>
      <a v-bind:href="'https://steemit.com/' +  post.url" target="_blank" class="image" v-bind:style="{ backgroundImage: meta.image ? 'url(' + meta.image[0] + ')' : 'none' }"></a>
      <div class="uk-grid footer">
        <div class="uk-width-1-3 uk-text-center">
          <i class="uk-icon-angle-up"></i> {{ post.net_votes }}
        </div>
        <div class="uk-width-1-3 uk-text-center">
          <i class="uk-icon-comments"></i> {{ post.children }}
        </div>
        <div class="uk-width-1-3 uk-text-center">
          <i class="uk-icon-dollar"></i> {{ getPayout(post) }}
        </div>
      </div>
    </div>
  </script>

  <script type="text/javascript" src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/uikit.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="//unpkg.com/vue@2.4.2"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
