html {
    background: #666;
}

body {
    padding-bottom: 42px;
}

body * {
    font-family: 'Cairo', sans-serif;
}

#top-bar {
    border-bottom: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #f5f5f5;
}

#top-bar .uk-navbar-nav > li > a {
    padding: 0 10px;
}

#username-form input {
    border: none;
    border-bottom: solid 1px #ccc;
    font-size: 16px;
}

#profile-image {
    width: 40px;
    height: 40px;
    background: url('https://steemitimages.com/DQmRbn1yZHxN4JsHi5qdKVz99QtFLSHZT8jyxBrNbt6HoJy/steemit-profile.png') center center;
    background-size: cover;
}

#profile-image-big {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: url(https://steemitimages.com/DQmRbn1yZHxN4JsHi5qdKVz99QtFLSHZT8jyxBrNbt6HoJy/steemit-profile.png) center center;
    background-size: cover;
    margin: 10px auto 0;
    border: solid 7px #333;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

#top-bar .account-reputation {
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-top: 6px;
    padding: 0;
}

#reset-user {
    color: #ccc;
    cursor: pointer;
}

#reset-user:hover {
    color: #d85030;
}

#logo {
    color: #ccc;
    line-height: 40px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    transition: color .5s ease, text-shadow .5s ease;
}

#logo:hover {
    color: #00a8e6;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    text-decoration: none;
}

#rows {
    padding: 10px;
}

#rows > div {
    margin-bottom: 10px;
}

.row-nav {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    height: 2px;
}

.row-header {
    background: #333;
    color: #fff;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.row-header .uk-navbar-nav > li > a {
    padding: 0 10px;
}

.row-title {
    display: inline-block;
    line-height: 40px;
}

.scroll-indicator-container {
    height: 3px;
    background: #555;
    position: relative;
}

.scroll-indicator-container .scroll-indicator {
    height: 3px;
    position: absolute;
    left: 0;
    background: #ccc;
    transition: left .5s ease;
}

.post {
    background: #fff;
}

.post .post-image {
    display: block;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    border-right: solid 1px #fff;
    box-sizing: border-box;
}

.post h3 a {
    color: #444;
    text-decoration: none;
}

.post .post-info {
    padding: 5px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
}

.post .post-info .reputation {
    border: solid 1px #ccc;
    border-radius: 50%;
    font-size: 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #f5f5f5;
}

#post .post-info {
    color: #999;
    font-size: 16px;
}

#post .post-info a {
    font-weight: bold;
    color: #999;
}

#post .post-info .post-avatar {
    background: url('https://steemitimages.com/DQmRbn1yZHxN4JsHi5qdKVz99QtFLSHZT8jyxBrNbt6HoJy/steemit-profile.png') center center;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    outline: none;
}

#post .post-info .post-author-reputation {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    border: solid 1px #ccc;
    text-align: center;
    border-radius: 50%;
}

#post .post-body {
    margin: 20px auto 0;
    font-size: 120%;
}

#post .post-tags .uk-badge {
    font-size: 14px;
    padding: 5px 10px;
    line-height: 14px;
    border-radius: 5px;
}

#post .post-comments .uk-comment-meta {
    margin-top: 5px;
    font-size: 16px;
}

/**
 * Transitions
 */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}