#username {
  font-size: 1.5em;
  height: 50px;
  border-radius: 0;
}

#user {
  height: 50px;
  line-height: 20px;
}

#user .username {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 10px;
  float: left;
  text-decoration: none;
}

#user .profileimage {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-size: cover;
  background-color: #eee;
  float: left;
}

#user .reputation {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-top: 5px;
  float: left;
  padding: 5px;
  margin-top: 8px;
  margin-left: 8px;
}

#user .profile-info {
  height: 50px;
  font-size: 12px;
  color: #666;
}

#user .switch-user,
#user .username-submit-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 0;
}

.add-column-button {
  border-radius: 0;
}

.add-column-button.fullscreen-icon i {
  font-size: 100px;
}

.add-column-button.fullscreen-icon {
  font-size: 35px;
}

.column h3 {
  line-height: 50px;
  height: 50px;
  background: #333;
  color: #fff;
}

.column h3:first-letter {
  text-transform: uppercase;
}

.column h3 .delete-column {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 0
}


.post {
  background: #1a5099;
  max-width: 960px;
  margin: 0 auto;
}

.post .image {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: cover;
  background-color: #eee;
  display: block;
}

.post h4 {
  margin: 0;
  line-height: 17px;
  padding: 15px 10px 10px;
  color: #fff;
}

.post h4 a {
  color: #fff;
}

.post .reputation {
  font-size: 11px;
    padding: 1px 5px;
    border: solid 1px #fff;
    border-radius: 11px;
}

.post .footer {
  border-bottom: solid 5px #fff;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
}
